# Byte-compiled files
*.pyc
__pycache__/

# Environment variables
.env

# Django settings (local)
settings_local.py

# SQLite database
db.sqlite3

# Static files
/static/
staticfiles/

# Virtual environment
env/
venv/

# IDE files
*.vscode/
.idea/
